@import "./utils/index";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: $bg-color;
}

.containera {
  @include container;
}
a {
  img {
    width: 114px;
  }
}

.navMain {
  @include navMain;
}
nav {
  width: 100%;
}

.CA {
  ul {
    li {
      display: inline;
      margin: 0 1rem;
      a {
        @include a;
        text-decoration: none;
        span {
          margin-left: $m4;
        }
      }
    }
  }
}

.icon {
  @include iconClr($secondary-color);
}
.icon1 {
  @include iconClr($primary-color);
}

.never_stop_learning {
  width: 15rem;
  height: 3.125rem;
  border-radius: 10px;
  background-color: white;
  color: $secondary-color;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $f2;
}

.hero-main {
  display: flex;
}

.hero-left {
  margin-top: 7.875rem;
}
.hero-header {
  @include header-font($f3, $p-f-c, 700, 75px);
}
.hero-text {
  @include header-font($f1, $s-f-c, 400, 30px);
}

.hero-input {
  form {
    input {
      @include text-input(100%, 3.75rem, 10px, none, white);
    }

    .drop {
      position: relative;
      bottom: 55px;
      background-color: transparent;
      display: grid;
      grid-template-columns: 2fr 1fr 4fr 2fr;

      button {
        color: $t-f-c;
        @include header-font($f1, $t-f-c, 500, $f1);
        svg {
          background-color: transparent;
        }
      }
      .line {
        width: 1px;
        height: 90%;
        background-color: #dadada;
        margin: 0 26px;
      }
      input {
        height: auto;

        border-radius: 5px;
      }
      input:focus {
        outline: none !important;
        border: none;
      }
      .search {
        height: 50px;
        border-radius: 10px;
        border: none;
        background-color: $primary-color;
        color: white;
        margin-right: 5px;
        svg {
          background-color: transparent;
        }
      }
    }
  }
}

.dropdown-toggle::after {
  display: none;
}

.right-colam {
  .hero-right {
    display: flex;
    justify-content: flex-end;
    position: relative;

    img {
      margin-top: 100px;
      margin-left: 155px;
      width: 100%;
      height: 41.813rem;
    }
  }
  .vector1 {
    @include vactor(668px, 43px);
  }
  .vector2 {
    @include vactor(193px, 133px);
  }
  .vector3 {
    @include vactor(134px, 631px);
  }
  .vector4 {
    @include vactor(457px, 586px);
  }
}
