// container
@mixin container {
  margin: 0 5rem;
}

@mixin a {
  font-size: $f1;
  color: $p-f-c;
}

@mixin navMain {
  display: flex;
  justify-content: space-between !important;
  align-items: center;

  margin: 0 0 0 2.5rem;

  .menus {
    ul {
      li {
        margin: 0 1rem;
        a {
          @include a;
        }
      }
    }
  }
}

@mixin iconClr($clr) {
  color: #{$clr};
}

@mixin header-font($f-size, $clr, $fw, $lh) {
  font-size: #{$f-size};
  color: #{$clr};
  font-weight: #{$fw};
  line-height: #{$lh};
}

@mixin text-input($w, $h, $br, $b, $bg) {
  width: #{$w};
  height: #{$h};
  border-radius: #{$br};
  border: #{$b};
  background-color: #{$bg};
}
